<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="icon" href="./img/single.png"></link>
	<title> Deposito Dental Donaji </title>
	
	<link rel="stylesheet" type="text/css" href="./css/main.css"></link>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="./js/script.js"></script>
</head>


<body>
<div id="wrapper">
	<div id="links_top">
			<ul id="links_left">
			<li><a href="./index.html"><img src="./img/logo.jpg" width="180px" height="73px" alt="Deposito Dental Donaji"/></a></li>

			<div id="navigation">
			<li><a href="./index.html">Inicio</a></li>
			<li><a href="./products.html">Productos<img id="downArrow" src="./img/downArrow.png" width="16px" height="16px"/></a></li>
			<li><a href="./services.html">Servicios</a></li>
			<li><a href="./contact.html">Contacto</a></li>
			</div>
			</ul>
	</div>

	<div class="seperator"></div>
	

	<div class="seperator content_seperator"></div>

	<footer>
	</footer>
</div>
</body>
</html>
