#slider_wrapper {
	width: 640px;
	height: 240px;
	margin: auto;
	padding: 5px;
	background: #EAEAF5;

	box-shadow: 0 0 3px #888;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px #888;
}

.nivoSlider {
	position: relative;
	width: 640px;
	height: 240px;
}

.nivoSlider img {
	 display: none;
	 position: absolute;
	 top: 0;
	 left: 0;
}


.nivo-controlNav a {
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	margin-right: 5px;
	text-indent: -9999px;
	background: #EEEEEE;
	border-radius: 100%;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.5), 0px 1px 1px rgba(255,255,255,.05);
}

.nivo-controlNav a:first-child {
	margin-left: 300px;
}

.nivo-controlNav a.active {
	background: #CCCCCC;
}

.mission {
	max-width: 790px;
	margin: 60px auto 0px auto;
}

